/* All style should go in this document. */
body{
 
  background: url(https://c.stocksy.com/a/Gwh000/z0/168904.jpg) no-repeat fixed ;
    background-size: 100%;
   -webkit-background-size:100%;
   -moz-background-size:100%;
  -o-background-size:100%;
  color: #000305;
  
  font-family: Arial;
  line-height: 1.5;
  text-align:left;
  margin: 0 auto;
  width: 80%;
  /*no floating elements in left or right*/
}/*above are the standrad format that you want on any webpage*/


a{/*link format(for me I didnt use any)*/
  text-decoration: none;
}

/*-- CONTACT --*/

.contact-info{
 display: inline-block;
  margin: 0 65%;
  width: 22%;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  padding: 3% 5%;/* generats space around the content*/
  margin-top: -280px;
  vertical-align: top;
}

.contact-info h2{
  color: red;
  }
.contact-info p{
  color: black;
  }

/*-- EIGHT CONTENT --*/

  .eight-content{
 display: inline-block;
  margin: 0 1.5%;
  width: 50%;
  height: 135px;
  background-color: white;
  border-radius: 5px;
  padding: 3% 5%;/* generats space around the content*/
  margin-top: -220px;
  vertical-align: top;
}

  .eight-content h2{
  color: red;
  }

/*-- FOURTH CONTENT --*/
.fourth-content{
 display: inline-block;
  margin: 0 1.5%;
  width: 50%;
  height: 820px;
  background-color: white;
  border-radius: 5px;
  padding: 3% 5%;/* generats space around the content*/
  margin-top: 0.5%;
  vertical-align: top;
}


  .fourth-content h2{
  color: red;
  }

  .fourth-content dl{
  color: black;
  }

  /*-- FIRST CONTENT --*/

.first-content{
 display: inline-block;
  margin: 0 1.5%;
  width: 36%;
  height: 180px;
  background-color: #FFF;
  border-radius: 5px;
  padding: 3% 5%;/* generats space around the content*/
  margin-top: 2%;
  vertical-align: top;
 /* float: right;*/
}

 .first-content h2{
  color: red;
  }

/*-- FIFTH CONTENT --*/
  .fifth-content { 
display: inline-block;
  margin: 0 1.5%;
  width: 22%;
  height: 520px;
  background-color: grey;
  border-radius: 5px;
  padding: 3% 5%;/* generats space around the content*/
  margin-top: 0.5%;
  vertical-align: top;
}

  .fifth-content h2{
  color: white;
  }

  .fifth-content ul{
  color: white;
  }

/*-- MAIN HEADER --*/

.main-header{
  text-align: center;
  font-family: arial;

} 

.main-header img{
  border-radius: 50% ;
  border: 5px solid white;
 /* margin: 50%;*/
}

.main-header h2{
  font-size: 2em;
  color: #3498DB  ;
}

.main-header h3{
   font-size: 2em;
  color: #D35400  ; 
}

.main-footer {
background-color:white;
background-size: 100%;
width: 100%;
font-size: 1em;
color: #A93226;
margin-top: 2%;
margin-bottom: 3%;
}

.main-footer p{
   display: inline-block;

  width: 20%;
  margin: 1% 2%;

}

.main-footer img{
 display: inline-block;
float: right;
  width: 40px;
  height: 40px;


 }



/*-- SECOND CONTENT --*/

.second-content{
 display: inline-block;
  margin: 0 1.5%;
  width: 36%;
  height: 180px;
  background-color: grey;
  border-radius: 5px;
  padding: 3% 5%;/* generats space around the content*/
  margin-top: 2%;
  vertical-align: top;
}
 .second-content h2{
  color: white;
  }

  .second-content p{
  color: white;
  }

/*-- SEVENTH CONTENT --*/

.seventh-content{
  /* margin-right: 27%;*/
 display: inline-block;
  margin: 0 1.5%;
  width: 22%;
  height: 420px;
  background-color: #FFF;
  border-radius: 5px;
  padding: 3% 5%;/* generats space around the content*/
  margin-top: 2%;

  vertical-align: top;
}


  .seventh-content h2{
  color: red;
  }


  .seventh-content p{
  color: white;
  }

/*-- SIXTH CONTENT --*/

.sixth-content{
  margin: 0 1.5%;
  width: 86%; 
   background-color: grey;
  border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.sixth-content h2, dl{
  color: white;
  }


/*-- THIRD CONTENT --*/

.third-content{
  /*margin-right: 27%;*/
 display: inline-block;
  margin: 0 1.5%;
  width: 50%;
  height: 180px;
  background-color: grey;
  border-radius: 5px;
  padding: 3% 5%;/* generats space around the content*/
  margin-top: 2%;
  vertical-align: top;
}

.third-content h2{
  color: white;
}
.third-content ul{
  color: white;
}

/*-- TRANSPARENT --*/

 .trans {
margin: 4px;
opacity: 0.5;
}

.trans:hover {
  -webkit-transform: scale(1.8);
  -moz-transform: scale(1.8);
  opacity: 1;
}