/* All style should go in this document. */
body{
  background-color: #B76E79;
  color: #000305;
  font-size: 100%;
  font-family: Serif;
  line-height: 1.5;
  text-align:left;
}/*above are the standrad format that you want on any webpage*/


a{/*link format(for me I didnt use any)*/
  text-decoration: none;
}

.body{
  margin: auto;
  width: 60%;
  clear:both;/*no floating elements in left or right*/
}

.mainHeader img{
  float:right;
  
  height: auto;/*automatic adjusting*/
  margin: 3% 0;
  
}

content{
  width: 70%;
  float:left;
}

.FirstContent{
  background-color: #FFF;
  border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.SecondContent{
  background-color: #FFF;
  border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.ThirdContent{
  background-color: #FFF;
  border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}
.FourthContent{
    background-color: #FFF;
  border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.FifthContent{
   background-color: #FFF;
  border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.SixthContent{
   background-color: #FFF;
  border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.FirstAside{
  width: 27%;
  float:left;
  background-color:#FFF;
  border-radius:5x;
  margin-left:3%;
  
}

.SecondAside{
  width: 27%;
  float:left;
  background-color:#FFF;
  border-radius:5x;
  margin-left:3%;
}

.ThirdAside{
  width: 27%;
  float:left;
  background-color:#FFF;
  border-radius:5x;
  margin-left:3%;
}
