/* All style should go in this document. */
body{
  background-color: #F00808;
  color: #000305;
  font-size: 87.5%;
  font-family: Arial;
  line-hight: 1.5;
  text-align:left;
}/*above are the stanfrad format that you want on any webpage*/


a{/*link format(for me I didnt use any)*/
  text-decoration: none;
}

.body{
  margin: 0 auto;
  width 10px;
  clear:both;/*no flouding elements in left or right*/
}

.header img{
  width: 10px;
  height: auto;/*automatic adjusting*/
  margin: 5px;
}



